.editor {
  border-right: 1px solid #565656;
  width: 65%;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #2d2f34;
}

.editor-body {
  width: 100%;
  height: calc(100% - 50px);
}

.dropdown {
  width: 140px;
  position: relative;
}

.dropdown-select {
  padding: 0;
  text-align: left;
  font-size: 18px;
  color: #fff !important;
  height: 36px;
  font-weight: 450;
  background: #3a3d43;
  appearance: none;
  padding-left: 18px !important;
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  pointer-events: none;
}

.tooltip-container {
  display: flex;
  align-items: center;
  position: relative;
}

.tooltip-text {
  font-size: 14px;
  z-index: 1;
  padding: 10px;
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 45%;
  transform: translateX(-50%);
  background-color: #3a3d43;
  color: rgba(250, 249, 246, 0.8);
  border-radius: 5px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  display: block;
}

.reset-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 1.5rem;
}

.runBtn {
  height: 36px;
  font-size: 18px;
  padding: 0px;
  margin-right: 25px;
}

.input-output-bar {
  width: 30.5vw;
}

.input-output-bar-header {
  width: 100%;
  height: 50px;
  background: #2d2f34;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clear-btn {
  width: 70px;
}

.input-output-bar-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-output-bar-body .text-area {
  width: 100%;
  font-size: 18px;
  resize: none;
  height: 50%;
  background: #1c2130;
  color: white;
  padding: 10px;
  outline: none !important;
  box-shadow: none;
  border: none;
}

/* Ace Editor */

.ace-dracula {
  background-color: #1c2130;
}

.ace_editor,
.ace_editor * {
  line-height: 1.6rem !important;
}

.ace_scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c2130; /* Matches ace monokai */
  border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #909090;
  outline: 1px solid #1c2130;
  border-radius: 10px;
}