.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.navbar {
  background-color: #1f2023;
  border-bottom: 1px solid #424242;
}
.navbar-brand {
  color: white;
  font-size: 26px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-outline-light {
  border: 1px solid #fff;
}

.copyBtn {
  background: #eee;
}

.copyBtn:hover {
  background: #ddd;
}

.runBtn {
  height: 36px;
  font-size: 18px;
  padding: 0px;
  margin-right: 25px;
}

.leaveBtn,
.runBtn {
  width: 100px;
}

.joinBtn {
  font-weight: 500;
  width: 120px;
  background-color: #4aed88;
}

.joinBtn:hover {
  background-color: #368654;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: flex;
}

.mainEditorWrap {
  border-right: 1px solid #565656;
  width: 65%;
}

.editorWrap {
  height: calc(100vh - 137px);
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  background-color: #383b40;
  border-right: 1px solid #565656;
  color: #fff;
  width: 4.5vw;
  height: calc(100vh - 87px);
  transition: width 0.4s;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

textarea {
  outline: none !important;
  box-shadow: none;
  border: none;
}

.burger {
  width: 100%;
  height: 50px;
  border-bottom: 0.3px solid #565656;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  cursor: pointer;
}

.wide {
  width: 12vw;
}

.clientsList {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.notExpandedClientsList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.usersConnected {
  color: #eee;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c2130; /* Matches ace monokai */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
  outline: 1px solid #1c2130;
  border-radius: 10px;
}

/* Ace Editor */

.ace-dracula {
  background-color: #1c2130;
}

.ace_editor,
.ace_editor * {
  line-height: 1.6rem !important;
}

.ace_scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}

.ace_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1c2130; /* Matches ace monokai */
  border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: #909090;
  outline: 1px solid #1c2130;
  border-radius: 10px;
}
